@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.plait-board-container {
  --theme-filter: none;
  --iscard-bg-color: rgba(255, 255, 255, 0.96);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --sar: env(safe-area-inset-right);
  --sat: env(safe-area-inset-top);
  --shadow-iscard: 0 0 0 1px rgba(0, 0, 0, 0.01),
      1px 1px 5px rgb(0 0 0 / 12%);
  --space-factor: 0.25rem;
  --link-color: #1c7ed6;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --button-hover-bg: rgba(102, 152, 255, 0.1);
  --button-hover-color: rgb(102, 152, 255);
  --top-margin: 24px;
}

.plait-board {
  position: relative;
}

.plait-board .plait-island-container {
  position: absolute;
  display: flex;
  align-items: center;

  --padding: 1;
  background-color: var(--iscard-bg-color);
  box-shadow: var(--shadow-iscard);
  border-radius: var(--border-radius-sm);
  padding: calc(var(--padding) * var(--space-factor));
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0 0 16px #00000014;
  border: 1px solid #eee;
}

.plait-board .plait-island-container.app-main-toolbar {
  top: var(--top-margin);
  left: 50%;
  transform: translate(-50%, 0);
}

.plait-island-container .action-item {
  color: #999;
  padding: 8px;
  background-repeat: no-repeat;
  fill: currentColor;
  font-size: 16px;
  line-height: 0;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.plait-island-container .action-item:hover {
  color: var(--button-hover-color);
  background: var(--button-hover-bg);
}

.plait-island-container .action-item.active {
  color: var(--button-hover-color);
  background: var(--button-hover-bg);
}

.plait-island-container .action-item:last-child {
  margin-right: 0;
}

.action-item svg {
  width: 1rem;
  height: 1rem;
}

.action-item svg {
  position: relative;
  color: #1b1b1f;;
}
